apiVersion: v1
kind: Service
metadata:
  name: {{ include "authz-engine.fullname" . }}
  labels:
    {{- include "authz-engine.labels" . | nindent 4 }}
  {{- with .Values.service.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  type: {{ .Values.service.type }}
  ports:
  - port: {{ .Values.service.ports.grpc }}
    targetPort: grpc
    protocol: TCP
    name: grpc
  - port: {{ .Values.service.ports.http }}
    targetPort: http
    protocol: TCP
    name: http
  - port: {{ .Values.service.ports.metrics }}
    targetPort: metrics
    protocol: TCP
    name: metrics
  selector:
    {{- include "authz-engine.selectorLabels" . | nindent 4 }}
